In [1]:
import os
import datetime
import random

import pandas as pd
import numpy as np

# Read and concat files

In [3]:
path = '../../CerData/'
output_file = 'All_Files.csv'
files = os.listdir(path)
input_files = [file for file in files if '.txt' in file]

In [3]:
df = pd.DataFrame()
for input_file in input_files:
    print(input_file)
    data = pd.read_csv(path+input_file, header = None, sep = ' ')\
    .rename(columns = {0: 'ID', 1:'Date', 2:'Consumption'})    
    df = pd.concat([df, data], ignore_index=True)

File1.txt
File2.txt
File3.txt
File4.txt
File5.txt
File6.txt

In [4]:
# WRITE
# df.to_csv(path+'All_Files.csv', index = False)

In [5]:
# READ
# df = pd.read_csv(path+output_file)

# Fix Missing Dates

In [6]:
df['hours'] = df['Date']%100
df1 =df.loc[df['hours']<=48]

In [7]:
df1['Date'].min(), df1['Date'].max()

(19501, 73048)

In [8]:
daycodes = []
for i in range(195, 730+1):
    for j in range(1, 48 +1):
        daycodes.append(i*100+j)
len(daycodes)

25728

In [9]:
dates_df = df1['Date'].unique()
len(dates_df), min(dates_df), max(dates_df)

(25726, 19501, 73048)

In [31]:
missing_dates = list(set(daycodes).difference(set(dates_df)))
missing_dates

[45202, 45203]

In [11]:
a_dic = {'ID':1000, 'Date': missing_dates}
df2 = pd.DataFrame(a_dic)
df3 = pd.concat([df1, df2], ignore_index=True, sort=False)

In [12]:
# ID =1000
# Date = 4502

In [13]:
df3 = df3[['ID', 'Date', 'Consumption']]

In [14]:
df3.to_csv(path+'ed_'+output_file)

In [4]:
df3 = pd.read_csv(path+'ed_'+output_file)

# Aggregate DataFrame

In [5]:
# tms = df.pivot(index='ID', columns = 'Date',values = 'Consumption')
d = df3.groupby(['ID', 'Date'])['Consumption'].sum()
tms = d.unstack()

In [ ]:
tms[45202].loc[1000] = float('nan')
tms[45203].loc[1000] = float('nan')

In [7]:
# tms.to_csv(path+'ed_Timeseries.csv')

In [53]:
tms = pd.read_csv(path+'ed_Timeseries', index_col='ID')

# Handle NaNs

In [61]:
def fill_na(row):
    min_ = row.min()
    med_ = row.median()
    std_ = row.std()
    mask = row.isna()
    items =len(row[mask])
    a = (min_ - med_)/std_
    b = 1
    row[mask] =[med_+random.uniform(a, b)*std_ for i in range(0,items)]    
    return row

In [19]:
#tms = tms.apply(lambda row: fill_na(row) if sum(row.isna())>0 else row)

In [62]:
tms = tms.apply(fill_na, axis = 1)

In [63]:
sum(tms.isna().any(axis = 1))

0

In [67]:
tms.to_csv(path+'clean_Timeseries.csv')

In [72]:
stats = tms.apply(pd.DataFrame.describe, axis = 1)
stats

,count,mean,std,min,25%,50%,75%,max
ID,,,,,,,,
1000,25728.0,0.214405,0.367892,0.018,0.027000,0.09100,0.221250,4.784
1001,25728.0,0.197859,0.272286,0.080,0.084000,0.08500,0.093000,1.782
1002,25728.0,0.208056,0.265281,0.000,0.062000,0.12700,0.273000,4.117
1003,25728.0,0.633739,0.479202,0.000,0.328000,0.51700,0.759250,6.003
1004,25728.0,0.984297,0.954003,0.000,0.340000,0.64900,1.275000,8.493
1005,25728.0,0.624357,0.638267,0.000,0.201000,0.40400,0.777000,6.184
1006,25728.0,0.447727,0.641061,0.000,0.067000,0.18050,0.515000,7.655
1007,25728.0,0.728270,0.745559,0.000,0.252000,0.42000,0.908000,8.040
1008,25728.0,0.732090,0.652383,0.047,0.360000,0.48500,0.774250,7.916
1009,25728.0,0.835399,0.837122,0.000,0.243000,0.53900,1.146000,8.046
1010,25728.0,0.736815,0.733238,0.054,0.269000,0.43300,0.936240,8.313
1011,25728.0,1.039612,0.916952,0.000,0.361000,0.74200,1.395000,7.598
1012,25728.0,1.658090,1.099852,0.000,0.886150,1.49694,2.339881,10.068
1013,25728.0,0.236968,0.321702,0.000,0.080000,0.13200,0.247000,4.215
1014,25728.0,0.606644,0.669867,0.067,0.171000,0.30100,0.836000,6.093
1015,25728.0,0.470703,0.390785,0.000,0.212000,0.37100,0.578000,4.045
1016,25728.0,0.247142,0.597538,0.000,0.028000,0.06100,0.120000,10.918
1017,25728.0,0.340201,0.464458,0.000,0.103000,0.17800,0.348000,5.682
1018,25728.0,0.949063,0.685949,0.000,0.523000,0.69500,1.142000,10.263
1019,25728.0,0.603386,0.664979,0.000,0.222000,0.34100,0.673000,7.440
1020,25728.0,0.641810,0.803053,0.000,0.157000,0.27300,0.765000,8.058
1021,25728.0,0.301790,0.432026,0.000,0.026000,0.11400,0.401250,4.184
1022,25728.0,0.347086,0.520471,0.000,0.075000,0.13100,0.403000,5.021
1023,25728.0,1.151684,1.235120,0.000,0.394000,0.48700,1.567250,8.257
1024,25728.0,0.379137,0.418439,0.000,0.140000,0.23800,0.474000,6.619
1025,25728.0,0.226043,0.366552,0.000,0.072000,0.09900,0.214000,5.875
1026,25728.0,1.188297,1.175871,0.000,0.393000,0.52500,2.202000,6.321
1027,25728.0,0.224311,0.330885,0.000,0.050000,0.08100,0.279000,4.848
1028,25728.0,4.974895,3.515228,1.696,2.585750,3.19600,7.020500,21.432
1029,25728.0,0.124038,0.174421,0.000,0.035000,0.05200,0.157000,2.996
...,...,...,...,...,...,...,...,...
7415,25728.0,0.242596,0.259454,0.000,0.095000,0.13700,0.318000,3.812
7416,25728.0,0.538240,0.435277,0.088,0.282000,0.36300,0.690000,5.690
7417,25728.0,0.379900,0.509655,0.000,0.090000,0.16950,0.538000,7.461
7418,25728.0,0.764992,0.957617,0.000,0.203000,0.36250,0.841000,7.880
7419,25728.0,10.476592,5.075145,2.133,5.986874,10.47500,14.811151,27.294
7420,25728.0,0.328998,0.396442,0.000,0.130000,0.19800,0.335000,6.908
7421,25728.0,0.437000,0.519890,0.000,0.131750,0.22100,0.538250,5.391
7422,25728.0,0.364728,0.370461,0.018,0.128000,0.23900,0.459000,3.764
7423,25728.0,0.537051,0.698526,0.000,0.119000,0.21700,0.668000,7.254
7424,25728.0,0.786849,0.936848,0.091,0.246000,0.33700,0.790000,11.476
7425,25728.0,0.183875,0.308868,0.000,0.047000,0.05700,0.165000,3.224
7426,25728.0,0.453352,0.216538,0.081,0.265789,0.45057,0.641301,2.992
7427,25728.0,0.374486,0.405695,0.134,0.177000,0.21000,0.280000,2.955
7428,25728.0,0.305648,0.395575,0.000,0.108000,0.17200,0.307000,5.677
7429,25728.0,0.450637,0.453552,0.000,0.213000,0.30100,0.479000,5.028
7430,25728.0,0.762808,0.772047,0.157,0.298000,0.39200,0.932000,6.729
7431,25728.0,0.111581,0.157008,0.000,0.039000,0.07400,0.137000,3.082
7432,25728.0,0.376915,0.828831,0.000,0.026000,0.09800,0.280000,11.210
7433,25728.0,0.651905,0.766096,0.054,0.171000,0.28800,0.830000,6.256
7434,25728.0,0.365644,0.641633,0.014,0.052000,0.11800,0.358000,6.697
7435,25728.0,0.475539,0.731725,0.000,0.100000,0.18400,0.541000,8.584
7436,25728.0,0.535127,0.722770,0.000,0.151000,0.23300,0.579250,7.901
7437,25728.0,0.598414,0.576238,0.122,0.255000,0.43300,0.671000,7.332
7438,25728.0,0.139478,0.402739,0.000,0.000000,0.00000,0.039000,4.766
7439,25728.0,1.613918,3.343554,0.000,0.097000,0.13700,0.621000,19.986
7440,25728.0,0.759093,0.861561,0.045,0.183000,0.42400,0.991000,8.261
7441,25728.0,0.394759,0.310295,0.000,0.127000,0.30800,0.595000,2.696
7442,25728.0,0.853260,1.027196,0.000,0.193000,0.42400,1.120000,9.411
7443,25728.0,0.184114,0.237391,0.000,0.052000,0.12600,0.188000,3.896
7444,25728.0,0.816757,0.659109,0.000,0.380000,0.62300,1.056000,9.146

# Convert Daycodes to Dates

In [70]:
hoursonly = [x-int(x/100)*100 for x in dates_df]
a_df = pd.DataFrame()
a_df['hours'] = hoursonly

In [153]:
def get_date(num):
    year_list = [2009, 2010, 2011, 2012]
    day_list= [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    day = None
    day_sum = 0
    month = 1
    year = 2009
    for year in year_list:
        for month, days_of_month in zip(month_list, day_list):
            if (day_sum+days_of_month)>num:
                day = num-day_sum
                month__ = month
                year__ = year
                break
            elif (day_sum+days_of_month)==num:
                day = days_of_month
                month__ = month
                year__ = year
                break
            else:
                day_sum = day_sum+days_of_month
        if day !=None:
            break
    return(day, month__, year__)

In [154]:
get_date(730)

(31, 'Dec', 2010)

In [155]:
dt = datetime.datetime(2009, 7, 14, 0, 0, 0)
end = datetime.datetime(2010, 12, 31, 23, 59, 59)
step = datetime.timedelta(minutes = 30)

dates = []

while dt < end:
    dates.append(dt.strftime('%Y-%m-%d %H:%M:%S'))
    dt += step

In [159]:
tms.columns = dates

In [162]:
tms.to_csv(path+'Final_Timeseries.csv')